body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  color: white;
  padding: 10px 1100px;
  border: 1px solid #ddd;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.profile-detail {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
}

.profile-picture {
  width: 50%;
  border-radius: 8px;
}

button {
  background-color: #4c9ad3;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4c9ad3;
}

.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 40px;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 350px;
  margin-bottom: 20px;
  padding: px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
