body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.profile-detail {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
}

.profile-picture {
  width: 50%;
  border-radius: 8px;
}

/* profile.css */
button {
  background-color: transparent; /* Make the button transparent */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  text-decoration: none; /* Remove default text decoration */
  cursor: pointer; /* Change cursor to pointer on hover */
}

button:hover {
  text-decoration: underline; /* Underline text on hover */
}


.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
  margin-bottom: 20px;
  padding: px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rectangle2 {
  position: absolute;
  left: 399.0568px;
  top: 351.5px;
  width: 488.8635px;
  height: 68px;
  outline: solid 1px #6f6f6f;
  outline-offset: -1px;
  border-radius: 40px;
}
.searchForFilesPluginsAndCreato {
  color: #6f6f6f;
  font-size: 21px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 431.9885px;
  top: 373px;
  width: 364.477px;
  height: min-content;
  flex-direction: column;
}
.group15 {
  position: absolute;
  left: 816.9656px;
  top: 362px;
  width: 47px;
  height: 47px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.search {
  color: #fff;
  font-size: 21px;
  font-family: Font Awesome 5 Free, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.02em;
  position: absolute;
  left: 829.9656px;
  top: 373.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
